.comprehensiveApproachWrapper {
  .comprehensiveTabWrapper {
    .nav-tabs {
      border: none;

      .nav-item {
        button.nav-link {
          font-size: 34.18px;
          line-height: 42px;
        }
        button.nav-link.active {
          border: none;
          border-bottom: 5px solid #fdd800;
        }
      }
    }

    .tabItemWrapper {
      padding-left: 10px;
      h3 {
        font-weight: 400;
        font-size: 39.6px;
        line-height: 48px;
      }
      p {
        font-weight: 400;
        font-size: 25px;
        line-height: 30px;
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .comprehensiveApproachWrapper {
    .comprehensiveImgWrapper {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: end;
    }
  }
}

@media only screen and (max-width: 761px) {
  .comprehensiveApproachWrapper {
    .comprehensiveImgWrapper {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: end;
    }
  }
}

@media only screen and (max-width: 520px) {
  .comprehensiveApproachWrapper {
    .comprehensiveTabWrapper {
      .nav-tabs {
        .nav-item {
          button.nav-link {
            font-size: 20px;
            line-height: 30px;
          }
        }
      }

      .tabItemWrapper {
        h3 {
          font-size: 30px;
          line-height: 40px;
        }
        p {
          font-size: 18px;
        }
      }
    }
  }
}

@media only screen and (max-width: 355px) {
  .comprehensiveApproachWrapper {
    .comprehensiveTabWrapper {
      .nav-tabs {
        .nav-item {
          button.nav-link {
            font-size: 16px;
            line-height: 30px;
          }
        }
      }

      .tabItemWrapper {
        h3 {
          font-size: 26px;
          line-height: 30px;
        }
        p {
          font-size: 16px;
        }
      }
    }
  }
}
