.recommendStaffWrapper {
  padding-top: 5%;

  .textWrapper {
    p {
      font-size: 16px;
      line-height: 24px;
    }

    button {
      font-weight: 700;
      font-size: 20px;
      line-height: 32px;
      background-color: #fdd800;
      border-radius: 33px;
      border: none;
      color: #0d0d0e;
      padding: 20px 30px;
      margin-top: 25px;
    }
  }
}

@media only screen and (max-width: 1199px) {
  .recommendStaffWrapper {
    .textWrapper {
      button {
        padding: 22px 20px;
        font-size: 18px;
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .recommendStaffWrapper {
    .cardWrapperMain {
      margin-top: 100px;
    }
  }
}

@media only screen and (max-width: 550px) {
  .recommendStaffWrapper {
    .textWrapper {
      text-align: center;
      p {
        font-size: 14px;
      }

      button {
        font-size: 14px;
        padding: 15px 20px;
      }
    }
    .cardWrapperMain {
      text-align: center;
      p {
        font-size: 14px;
      }
    }
  }
}
