.timeLineWrapper {
  padding: 170px 0px;
  .timeLineItemWrapper {
    display: flex;
    justify-content: center;

    .iconWrapper {
      background-color: #fdd800;
      width: 68px;
      height: 68px;
      border-radius: 13px;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: calc(68px - 10px);
        height: calc(68px - 10px);
      }
    }
    .left {
      width: 412px;
    }

    .right {
    }
  }
}
.vertical-timeline-element-icon {
  // position: relative;
}

// .Mbefore {
//   position: relative;
//   span:before {
//     content: "";
//     display: block;
//     width: 100px;
//     left: 0;
//     background-color: #fdd800;
//   }
// }
