.app {
  .Mybefore::before {
    content: "";
    position: absolute;
    display: block !important;
    width: 10px !important;
    height: 3px !important;
    background-color: #fdd800 !important;
  }
}
