.bannerWrapper {
  background-color: #c4c4c4;
  padding: 70px 10px;

  .textWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h1 {
      font-weight: 400;
      font-size: 60px;
      line-height: 73px;
      color: #000000;
    }

    span {
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;
      color: #000000;
    }
    button {
      margin-top: 20px;
      width: 202px;
      height: 82px;
      background-color: #fdd800;
      padding: 25px 30px;
      border-radius: 20px;
      color: #0d0d0e;
      font-weight: 400;
      font-size: 26px;
      line-height: 32px;
      border: none;
    }
  }
}

@media only screen and (max-width: 500px) {
  .bannerWrapper {
    .textWrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h1 {
        font-size: 45px;
        line-height: 55px;
      }

      span {
        font-size: 20px;
        line-height: 30px;
      }
      button {
        width: 145px;
        height: 55px;
        padding: 0px 0px;
        font-size: 20px;
        line-height: 30px;
        border-radius: 10px;
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .bannerWrapper {
    .textWrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h1 {
        font-size: 35px;
        line-height: 45px;
      }

      span {
        font-size: 16px;
        line-height: 30px;
      }
      button {
        width: 130px;
        height: 45px;
        font-size: 18px;
      }
    }
  }
}
